<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CoreFX" value="https://www.myget.org/f/dotnet-corefx/" />
    <add key="Roslyn" value="https://www.myget.org/f/roslyn-nightly/" />
  </packageSources>
</configuration>