@{
    ViewData["Title"] = "About";
}
<h2>About</h2>

<p>A service provided by <a href="http://vsrefactoringessentials.com/">Refactoring Essentials for Visual Studio</a></p>

<a href="http://vsrefactoringessentials.com/"><img src="~/images/refactoringessentials-logo.png" /></a>